{% extends "base1.html" %}
{% block content %}

<div class="container">
  <div class="row">
      {% for i in elec1 %}
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="card mb-3" style="max-width: 1260px;">
              <div class="row g-0">
                  <div class="col-xxl-4">
                    <img src='/static/{{i[5]}}' alt="Generic placeholder image"> 
                  </div>
                  <div class="col-xl-8">
                      <div class="card-body">
                          <h5 class="card-title"><center>{{i[1]}}</center></h5>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">company : {{i[2]}}</li>
                          <li class="list-group-item">details : {{i[3]}}</li>
                          <li class="list-group-item">price : {{i[4]}}</li>
                      </ul>
                      
                      
                  </div>
              </div>

          </div>
        </div>
          <form action="" method="post">
            <table class="table table-borderless">
                <tr>
                    <td>Name</td>
                    <td><input name="bname" class = "form-control" type="text" value="{{session.usname}}"> </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input name="email" class = "form-control" type="text" value="{{session.usemail}}"> </td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input name="phone" class = "form-control" type="text" value="{{session.usnum}}"> </td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input name="add" class="form-control" type="text" value="XYZ STREET ABC CITY"></td>
    
                </tr>
                <tr>
                    <td>Pincode</td>
                    <td><input name="pin" class="form-control" type="number" value="560001"></td>
                </tr>
                
                <tr>
                  <td>
                    <label for="payment">Choose payment method :</label>
                    <select name="payment" id="payment">
                      
                      
                      <option value="COD">COD</option>
                      <option value="INSTAMOJO">INSTAMOJO</option>
                    </select>
                  </td>
                  
                </tr>
    
                <tr>
                  <td><a ><button  class="btn btn-success" type = "submit" >confirm</button></a></td>
              </tr>
            </table>
          </form>
              
      
      {% endfor %}
  </div>
</div>


   {% endblock %}