{% extends "base1.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container-fluid">
        <p>User options</p>
        <div class="btn-group">
            <a class="btn btn-success" href="userorders"> View orders</a>&emsp;
            <a class="btn btn-success" href="editprofile"> edit profile</a>&emsp;
  
        </div>
  
    </div>
  </nav>
<h3 style="text-align: center;">your Orders </h3><br>

  <div class="container" style="color: rgb(0, 0, 0);">
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table" style="color: rgb(0, 0, 0);">
                <thead>
                    <tr>
                        <th scope="col">Customer name</th>
                        <th scope="col">email id</th>
                        <th scope="col">phone no</th>
                        <th scope="col">address</th>
                        <th scope="col">pincode</th>
                        <th scope="col">payment mode</th>
                        <th scope="col">item ordered</th>
                        <th scope="col">delivery date</th>
                        
                    </tr>
                </thead>
                <tbody style="color: rgb(0, 0, 0);">
                    {% for i in detail %}
                    <tr>
                        <th scope="row">{{i[1]}}</th>
                            <td>{{i[2]}}</td>
                            <td>{{i[3]}}</td>
                            <td>{{i[4]}}</td>
                            <td>{{i[5]}}</td>
                            <td>{{i[6]}}</td>
                            <td>{{i[7]}}</td>
                            <td>25-04-2022</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<br><br><br>

{% endblock %}